@font-face{
    font-family: 'Comfortaa-Regular';
    src: url(./fonts/Comfortaa-Regular.ttf);
}
@font-face{
    font-family: 'Heavitas';
    src: url(./fonts/Heavitas.ttf);
}
@font-face{
    font-family: 'Comfortaa-Bold';
    src: url(./fonts/Comfortaa-Bold.ttf);
}
html {
    font-size: 100%;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-size: 100%;
    color: rgb(209, 225, 236);
    background-color: rgb(11, 27, 49);
}
h1 {
    font-size: 40px;
    font-weight: bold;
    word-spacing: 5px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Heavitas';
}
p {
    font-family: 'Comfortaa-Regular';
}
a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    background: none;
}
.main-container {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-auto-rows: minmax(60px, auto);
    background-color: rgb(0, 0, 0);
    row-gap: 3px;
    column-gap: 3px;
    padding: 4px;
    margin: -10px;
}
.header {
    position: sticky;
    top: -1;
    grid-row: 1 / 1;
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    background-color: rgb(142, 144, 146);
    border: 3px solid black;
}

.main-container > div.child{
    background-color: rgba(50, 60, 75, 0.8);
    font-size: 30px;
  }

.sidebar {
    grid-row: 2 / 6;
}
.main {
    grid-row: 2 / 6;
    grid-column: 2 / -1;
    align-items: left;
}
.footer {
    grid-row: 6 / 7;
    grid-column: 1 / -1;
    text-align: center;
}
.button-header {
    font-family: 'Comfortaa-Bold';
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    border: none;
}
.button-group .button-header:hover {
    color: white;
    cursor: pointer;
}
img.help {
    width: 55px;
}