@font-face{
    font-family: 'Comfortaa-Regular';
    src: url(./fonts/Comfortaa-Regular.ttf);
}
@font-face{
    font-family: 'Heavitas';
    src: url(./fonts/Heavitas.ttf);
}
@font-face{
    font-family: 'Comfortaa-Bold';
    src: url(./fonts/Comfortaa-Bold.ttf);
}
body{
    font-size: 100%;
}
h1 {
    font-size: 40px;
    font-weight: bold;
    word-spacing: 5px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Heavitas';
}
p {
    font-family: 'Comfortaa-Regular';
}
a:link{
    text-decoration: underline;
}
a:hover{
    text-decoration: none;
    background: rgba(160, 51, 151, 0.5);
}
.item1 {
    grid-area: header;
}
.item2 {
    grid-row: sidebar;
    grid-column: 1 / 1;
}
.item3 {
    grid-area: main;
}
.item4 {
    grid-area: footer;
}
.main-container {
    display: grid;
    
    background-color: rgb(11, 10, 15);
    row-gap: 10px;
    column-gap: 10px;
    padding: 10px;
}
.main-container > div{
    background-color: rgba(239, 236, 240, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }